@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');

html {
    box-sizing: content-box;
}

body {
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    line-height: 1.5;

    background-color: black;
    color: white;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20vmin;
    transform: translate(-50%, -50%);
}

@keyframes heartbeat {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.5);}
    100% { transform: translate(-50%, -50%) scale(1);}
}

div.ball {
    background-color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);

    mix-blend-mode: difference;
    animation: heartbeat 2s infinite;
}